<!-- home.component.html -->
<div class="bg-slate-100 text-black overflow-y-scroll w-screen h-screen antialiased selection:bg-blue-600 selection:text-white">
  <div class="flex flex-col relative w-screen items-center justify-center p-10">
    <h2 class="text-3xl font-bold mb-4">Mapa Ciudadano</h2>

    <div class="flex space-x-4">
      <button [routerLink]="['list']" routerLinkActive="router-link-active" class="btn-primary">Ver</button>
      <button [routerLink]="['create']" routerLinkActive="router-link-active" class="btn-primary">Crear</button>
    </div>
  </div>
</div>
