<h1>Formulario Creacion Eventos...</h1>
<hr>

<form [formGroup]="form()" action="">

  <label for="">
    Título del Evento:
    <input type="text" id="title" name="title" required formControlName="title">
  </label>

  <label for="">
    Descripción del Evento:
    <textarea id="description" name="description" required formControlName="description"></textarea>
  </label>

  <label for="">
    Fecha del Evento:
    <input type="date" id="start_date" name="date" required formControlName="start_date">
  </label>

  <label for="">
    Termino del Evento:
    <input type="date" id="end_date" name="date" required formControlName="end_date">
  </label>

  <label for="">
    Lugar del Evento:
    <input type="text" id="location" name="location" required formArrayName="location">
  </label>

  <label for="">
    Imagen del Evento:
    <input type="file" id="image" name="image" required formControlName="images">
  </label>

  <label for="">
    Mensajes:
    <textarea id="messages" name="messages" formControlName="messages"></textarea>
  </label>

  <label for="">
    Autor del Evento:
    <input type="text" id="author" name="author" required formControlName="created_by">
  </label>

  <label for="">
    Categoría del Evento:
    <select id="category" name="category" required formControlName="event_type">
      <option value="0">Seleccione una categoría</option>
      <option value="1">Deporte</option>
      <option value="2">Entretenimiento</option>
      <option value="3">Cultura</option>
      <option value="4">Educación</option>
      <option value="5">Salud</option>
    </select>
  </label>

  <label for="">
    Organización responsable:
    <input type="text" id="organizer" name="organizer" required formControlName="responsible_organization">
  </label>

  <label for="">
    Asistentes:
    <input type="number" id="attendees" name="attendees" required formControlName="assistents">
  </label>

  <label for="">
    Estado:
    <select id="status" name="status" required formControlName="status">
      <option value="0">Pendiente</option>
      <option value="1">Confirmado</option>
      <option value="2">Cancelado</option>
    </select>
  </label>

  <button type="submit" [disabled]="form().invalid">Guardar</button>


</form>
