<div class="container mt-4">
  <h2 class="title">Listado de Eventos</h2>

  <div class="main-layout">
    <!-- Lista de eventos (sidebar) -->
    <div class="sidebar">

      <!-- Encabezado fijo (crear + buscar) -->
      <div class="sidebar-header">
        <button class="create-button" [routerLink]="['/events/create']">+ Crear Evento</button>

        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Buscar eventos..." (input)="searchEvents($event)">
          <span class="input-group-text">
            <i class="bi bi-search"></i>
          </span>
        </div>
      </div>

      <!-- Lista de eventos -->
      <div *ngIf="eventOrg.length > 0; else noEvents">
        <div *ngFor="let event of eventOrg" class="event-item" (click)="focusOnEvent(event)">
          <div class="event-info">
            <span class="event-title font-bold text-center uppercase truncate max-w-full block" [title]="event.title">{{ event.title }}</span>
            <span class="event-date">{{ event.start_date | date:'yyyy-MM-dd hh:mm' }} - {{ event.end_date | date:'yyyy-MM-dd hh:mm' }}</span>
            <!-- AGREGAR STATUS EVENTO -->
            <span class="event-status">{{ event.status?.name || 'Sin estado' }}</span>
            <!-- <span class="location-coordinates">{{ event.responsible_organization }}</span> -->

            <button class="btn btn-light btn-sm mt-2"
              [routerLink]="['detail', event._id]"
              routerLinkActive="router-link-active"
              (click)="$event.stopPropagation()">Ver</button>
          </div>
        </div>
      </div>

      <!-- Sin eventos -->
      <ng-template #noEvents>
        <div class="text-center mt-4">
          <p class="text-muted">No hay eventos disponibles.</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
