<div>
  <h1>Listar eventos...</h1>
</div>

<div class="container">
  <!-- Botón para listar los eventos -->
  <button (click)="getAllEvents()" class="btn btn-primary">Listar Items</button>

  <!-- Verificación de si hay eventos -->
  <div *ngIf="eventOrg.length > 0; else noEvents">
    <div *ngFor="let event of eventOrg" class="card mb-3">
      <!-- Encabezado del evento -->
      <div class="card-header">
        {{ event.title }}
      </div>

      <!-- Cuerpo del evento -->
      <div class="card-body">
        <p>{{ event.description }}</p>
        <!-- Aquí puedes agregar una imagen si está disponible -->
        <img [src]="event.images" alt="{{ event.title }}" class="img-fluid">
      </div>
    </div>
  </div>

  <!-- Mensaje en caso de que no haya eventos -->
  <ng-template #noEvents>
    <p>No hay eventos para mostrar.</p>
  </ng-template>
</div>

<!-- <router-outlet></router-outlet> -->
