<div class="container mt-4">
  <h2>Listado de Requerimientos</h2>

  <div class="main-layout">

    <div class="sidebar-requirements">

      <!-- buscador -->

      <div class="input-group mb-3">
        <!-- TODO: agregar metodo busqueda -->
        <input type="text" class="form-control" placeholder="Buscar requerimientos">
        <span class="input-group-text">
          <i class="bi bi-search"></i>
        </span>
      </div>


      <!-- lista de requerimientos -->
      <div *ngIf="requirements.length > 0; else noRequirements">
        <div *ngFor="let requirement of requirements" class="requirement-item"
          (click)="focusOnRequirement(requirement)">
          <div class="requirement-info">
            <span class="requirement-title ellipsis-tooltip" [title]="requirement.title">{{ requirement.title }}</span>
            <span class="requirement-date">{{ requirement.createdAt | date: 'yyyy-MM-dd HH:mm'}}</span>

            <!-- con stopPropagation detengo la accion del focusOnEvent y permito que se haga click al btn -->
            <button class="btn btn-light btn-sm mt-2" [routerLink]="['detail', requirement._id]"
              routerLinkActive="router-link-active" (click)="$event.stopPropagation()">Ver</button>

            <div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <ng-template #noRequirements>
      <div class="text-center mt-4">
        <p class="text-muted">No hay requerimientos disponibles.</p>
      </div>
    </ng-template>

  </div>

</div>
