/* styles.css o app.component.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  height: 100vh; /* Altura completa de la ventana */
}

.sidebar {
  width: 250px; /* Ancho del sidebar */
  background-color: #f4f4f4;
  padding: 15px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 15px 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #333;
}

.sidebar nav ul li a:hover {
  color: #007bff;
}

.content {
  flex-grow: 1; /* Permite que el contenido ocupe el espacio restante */
  padding: 20px; /* Espacio alrededor del contenido */
  background-color: #fff; /* Fondo blanco para el contenido */
  overflow-y: auto; /* Permite desplazamiento si es necesario */
}
