<div class="container my-5">
  <div class="card shadow-lg rounded-4 border-0">
    <div class="card-header bg-primary text-white rounded-top-4">
      <h2 class="mb-0">{{ requirement.title || 'Sin título' }}</h2>
    </div>

    <div class="card-body p-4">

      <p><strong>Descripción:</strong> {{ requirement.description || 'Sin descripción' }}</p>

      <div class="mb-4">
        <h5 class="text-secondary">Tipo de requerimiento</h5>
        <!-- <p><strong>Titulo:</strong> {{ requirement.title }}</p> -->
        <p><strong>Tipo de Requerimiento:</strong> {{ requirement.requirement_type.name }}</p>
      </div>

      <div *ngIf="requirement.location" class="mb-4">
        <h5 class="text-secondary">Ubicación</h5>
        <p><strong>Dirección:</strong> {{ requirement.location.gm_formatted_address || 'No disponible' }}</p>
        <div class="map-container rounded border overflow-hidden" style="height: 300px;">
          <map-org></map-org>
        </div>
      </div>

      <div *ngIf="requirement.images" class="mb-4">
        <h5 class="text-secondary">Imágenes</h5>
        <div class="">
            <div class="col-md-4" *ngFor="let img of requirement.images">
              <img [src]="img.url" alt="Imagen del requerimiento" class="img-fluid rounded shadow-sm border" width="400"
                height="341" />
            </div>
        </div>
      </div>

      <div class="mb-4">
        <h5 class="text-secondary">Creado por</h5>
        <!-- TODO: ampliar relacion created_by con email -->
        <p><strong>Name:</strong> {{ requirement.created_by.profile.full_name }}</p>
        <p><strong>Fecha de creación:</strong> {{ requirement.createdAt | date: 'fullDate' }}</p>
      </div>

      <div class="mb-4">
        <h5 class="text-secondary">Apoyos</h5>
        <p *ngIf="requirement.supporters.length === 0">Aún no hay personas que apoyen esta propuesta.</p>
        <ul *ngIf="requirement.supporters.length > 0" class="list-group">
          <li *ngFor="let supporter of requirement.supporters" class="list-group-item">
            {{ supporter }}
          </li>
        </ul>
      </div>

      <div *ngIf="requirement.messages" class="mb-4">
        <h5>Responder Requerimiento Ciudadano</h5>
        <!-- {{ requirement.messages | json }} -->
        <input #message type="text" id="message" placeholder="Ingrese su respuesta.">
        <button (click)="respondRequirement(message.value)">Enviar</button>
      </div>

      <div>
        <message-list [requirement]="requirement"></message-list>
      </div>

    </div>
  </div>
</div>
