<div
  class="bg-slate-100 text-black overflow-y-scroll w-screen h-screen antialiased text-slate-300 selection:bg-blue-600 selection:text-white">
  <div class="flex flex-col relative w-screen">

    <h2>Eventos</h2>
    <br/>
    <p>Listar eventos</p>

    <button [routerLink]="['list']" routerLinkActive="router-link-active" class="btn btn-primary">Ver</button> |
    <br>
    <button [routerLink]="['create']" routerLinkActive="router-link-active" class="btn btn-primary">Crear</button>

  </div>
</div>
<!-- <router-outlet></router-outlet> -->
