<div class="max-w-4xl mx-auto mt-8 px-4">
  <div class="bg-white shadow-lg rounded-2xl p-6">
    <!-- Botón de acción -->
    <div class="flex justify-end mb-4">
      <a [routerLink]="['/citizen-points', 'edit', citizenPoint._id!]" routerLinkActive="router-link-active"
        class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition">
        ✏️ Actualizar
      </a> &nbsp;&nbsp;&nbsp;&nbsp;

      <button (click)="deleteCitizenPoint(citizenPoint._id!)"
        class="bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700 transition flex items-center gap-2">
        <!-- Ícono de basurero -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3m-4 0h14" />
        </svg>
        <span>Eliminar</span>
      </button>

    </div>

    <!-- Encabezado -->
    <div class="mb-6 border-b pb-4">
      <h2 class="text-2xl font-bold text-gray-800 text-center">
        {{ citizenPoint.name || 'Sin título' }}
      </h2>
    </div>

    <!-- Contenido -->
    <div class="space-y-4 text-gray-700">
      <p><span class="font-semibold">📋 Descripción:</span> {{ citizenPoint.location.description }}</p>

      <!-- Mapa -->
      <div *ngIf="citizenPoint?.location" class="mt-6">
        <p><span class="font-semibold">📍 Dirección:</span> {{ citizenPoint.location.gm_formatted_address || 'No disponible' }}
        </p>
        <div class="mt-2 rounded-lg overflow-hidden border border-gray-200 h-72">
          <map-org></map-org>
        </div>
      </div>

    </div>
  </div>
</div>
