body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  height: 5vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  margin-top: 56px; /* Ajusta la altura del navbar */
  justify-content: flex-start; /* Alinea los elementos hacia el inicio (izquierda) */
}

.sidebar {
  width: 250px;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  position: fixed; /* Se queda fijo en la pantalla */
  left: 0;
  top: 0;
  background-color: #333;
  color: #fff;
  padding: 20px;
  overflow-y: auto; /* Permite scroll si hay demasiados elementos */
  z-index: 900; /* Asegura que esté por debajo del navbar */
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 15px 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  display: block;
  padding: 10px 15px;
  transition: background 0.3s ease;
}

.sidebar nav ul li a:hover {
  background-color: #575757;
  border-radius: 5px;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
  margin-left: 250px; /* Asegura que el contenido no quede debajo del sidebar */
  min-height: 100vh; /* Asegura que crezca según el contenido */
  overflow-y: auto;
  padding-top: 20px; /* Añadido para asegurar que el contenido no se solape con el navbar */
}

.submenu-title {
  font-weight: bold;
  margin-top: 12px;
  padding-left: 10px;
  color: #444;
  font-size: 14px;
}

.submenu {
  list-style: none;
  padding-left: 20px;
}

.submenu li a {
  font-size: 13px;
  color: #555;
  display: block;
  padding: 4px 0;
  text-decoration: none;
}
.submenu li a:hover {
  color: #000;
}

.submenu-title {
  font-weight: bold;
  margin-top: 12px;
  padding: 8px 10px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #444;
}

.submenu {
  list-style: none;
  padding-left: 20px;
}

.submenu li a {
  font-size: 13px;
  color: #555;
  display: block;
  padding: 4px 0;
  text-decoration: none;
}
.submenu li a:hover {
  color: #000;
}

.arrow {
  font-size: 12px;
  transition: transform 0.2s ease;
}
.arrow.open {
  transform: rotate(180deg);
}
