.container {
  display: flex;
  margin-top: 56px; /* altura del navbar */
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px; /* ancho del sidebar */
  min-height: 100vh;
  background-color: #fff;
}
