<!-- <div class="container"> -->
  <h2 class="title">Listado de Puntos Ciudadanos</h2>

  <div class="main-layout">
    <!-- Barra lateral -->
    <div class="sidebar">
      <button class="create-button" [routerLink]="['/locations/create']" routerLinkActive="router-link-active">
        + Crear
      </button>

      <div *ngFor="let citizenPoint of filteredLocations()" class="location-item" (click)="focusOnEvent(citizenPoint)">
        <div class="location-info">
          <span class="location-address">{{ citizenPoint.gm_formatted_address }}</span>
          <span class="location-coordinates">{{ citizenPoint.geo_point.coordinates }}</span>
        </div>
      </div>
    </div>


  </div>
<!-- </div> -->




