<!-- <div class="container"> -->
<h2 class="title">Listado de Puntos Ciudadanos</h2>

<div class="main-layout">
  <!-- Barra lateral -->
  <div class="sidebar">
    <button class="create-button" [routerLink]="['/citizen-points/create']" routerLinkActive="router-link-active">
      + Crear
    </button>

    <div *ngIf="citizenPoint.length > 0; else noCitizenPoint">
      <div *ngFor="let citizen of citizenPoint" class="location-item" (click)="focusOnEvent(citizen)">
        <div class="location-info">
          <span class="location-name font-bold text-center uppercase truncate max-w-full block" [title]="citizen.name">{{ citizen.name  }}</span>
          <!-- <span class="location-description">{{ citizen.location.description }}</span> -->
          <span class="location-address">{{ citizen.location.gm_formatted_address }}</span>

          <button class="mt-2 px-3 py-1 text-sm text-white bg-gray-200 text-gray-800 hover:bg-gray-300 rounded transition"
              [routerLink]="['detail', citizen._id]"
              routerLinkActive="router-link-active"
              (click)="$event.stopPropagation()">Ver</button>

        </div>
      </div>
    </div>
    <ng-template #noCitizenPoint>
      <div class="text-center mt-4">
        <p class="text-muted">No hay puntos disponibles.</p>
      </div>
    </ng-template>
  </div>
  <!-- </div> -->
