<div class="container">
  <h2 class="title">Eventos y Locaciones</h2>

  <div class="main-layout">
    <!-- Barra lateral -->
    <div class="sidebar">
      <button class="create-button" [routerLink]="['/locations/create']" routerLinkActive="router-link-active">+ Crear</button>

      <input
        type="text"
        class="search-input"
        placeholder="Buscar locaciones..."
        (input)="filterLocations($event)"
      />

      <div *ngFor="let location of filteredLocations()" class="location-item" (click)="selectLocation(location)">
        <div class="location-info">
          <span class="location-address">{{ location.address }}</span>
          <span class="location-coordinates">{{ location.geo_point.coordinates }}</span>
        </div>
      </div>
    </div>

    <!-- Mapa -->
    <div class="map-container">
      <map-org></map-org>
    </div>
  </div>
</div>



