
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.main-layout {
  display: flex;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  height: calc(100vh - 80px); /* Ajuste para el tamaño del header */
}

.sidebar {
  width: 320px;
  padding: 20px;
  background: #f8f9fa;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.create-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 15px;
}

.create-button:hover {
  background-color: #0056b3;
}

.location-item {
  padding: 10px;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background 0.3s;
}

.location-item:hover {
  background: #e9ecef;
}

.location-info {
  display: flex;
  flex-direction: column;
}

.location-address {
  font-weight: bold;
  color: #333;
}

.location-coordinates {
  color: #777;
  font-size: 14px;
}

/* Mapa */


/* map-org {
  width: 100%;
  height: 100%;
} */
