<!-- aqui nos aseguramos de que el map-org tenga la referencia adecuada
     eventClicked es  @Output() eventClicked -->
<div class="container">
  <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">Puntos Ciudadanos</h2>

  <div class="row">
    <!-- Listado de ubicaciones -->
    <div class="col-md-4 sidebar">
      <list-citizen-points (eventClicked)="onEventClicked($event)"></list-citizen-points>
    </div>

    <!-- Mapa de ubicación -->
    <div class="col-md-8 map-container">
      <map-org #mapComponent></map-org>
    </div>
  </div>
</div>
