<form [formGroup]="locationForm" (ngSubmit)="saveLocation()">
  <h2 class="form-title"></h2>

  <!-- <div class="form-group">
    <input id="address" formControlName="address" class="form-input" [value]="locationForm.get('location.address')?.value" readonly />
    <button type="button" class="form-button" (click)="openAddressModal()">Seleccionar Dirección</button>
  </div> -->

  <div formGroupName="location">
    <div class="address-container">
      <input id="address" formControlName="address" class="form-input" [value]="locationForm.get('location.address')?.value" readonly />
      <button type="button" class="form-button" (click)="openAddressModal()">Seleccionar Dirección</button>
    </div>

    <div class="form-group">
      <label for="description">Descripción:</label>
      <input id="description" formControlName="description" class="form-input" />
    </div>

    <div class="form-group">
      <label for="category">Categoría:</label>
      <input id="category" formControlName="category" class="form-input" />
    </div>

    <div class="form-group">
      <label for="url_icon">URL Icono:</label>
      <input id="url_icon" formControlName="url_icon" class="form-input" />
    </div>

    <div class="form-group checkbox-group">
      <label for="is_public">¿Es público?</label>
      <input id="is_public" type="checkbox" formControlName="is_public" />
    </div>

    <div class="form-group">
      <label for="city_code">Código de Ciudad:</label>
      <input id="city_code" formControlName="city_code" class="form-input" />
    </div>
  </div>



</form>
