<div>
  <form [formGroup]="locationForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="address">Dirección:</label>
      <input id="address" formControlName="address" (input)="onAddressInput()" />
      <!-- Aquí se agregarán las sugerencias -->
      <ul *ngIf="addressSuggestions.length > 0" class="suggestions-list">
        <li *ngFor="let suggestion of addressSuggestions" (click)="selectAddress(suggestion)">
          {{ suggestion.description }}
        </li>
      </ul>
    </div>
    <div>
      <label for="description">Descripción:</label>
      <input id="description" formControlName="description" />
    </div>
    <div>
      <label for="category">Categoría:</label>
      <input id="category" formControlName="category" />
    </div>
    <div>
      <label for="url_icon">URL Icono:</label>
      <input id="url_icon" formControlName="url_icon" />
    </div>
    <div>
      <label for="is_public">¿Es público?:</label>
      <input id="is_public" type="checkbox" formControlName="is_public" />
    </div>
    <div>
      <label for="city_code">Código de Ciudad:</label>
      <input id="city_code" formControlName="city_code" />
    </div>
    <div>
      <label for="geo_point_lat">Latitud del GeoPoint:</label>
      <input id="geo_point_lat" formControlName="geo_point_lat" />
    </div>
    <div>
      <label for="geo_point_lng">Longitud del GeoPoint:</label>
      <input id="geo_point_lng" formControlName="geo_point_lng" />
    </div>
    <button type="submit">Crear Evento</button>
  </form>
</div>
