<form [formGroup]="locationForm" (ngSubmit)="saveLocation()">
  <h2 class="form-title"></h2>

  <!-- <div class="form-group">
    <input id="address" formControlName="address" class="form-input" [value]="locationForm.get('location.address')?.value" readonly />
    <button type="button" class="form-button" (click)="openAddressModal()">Seleccionar Dirección</button>
  </div> -->


  <div formGroupName="location">
    <div class="address-container">
      <input id="address" formControlName="gm_formatted_address" class="form-input"
        [value]="locationForm.get('location.gm_formatted_address')?.value" readonly />
      <button type="button" class="form-button" (click)="openAddressModal()">Seleccionar Dirección</button>
    </div>

    <div class="form-group mb-3">
      <div class="description-container">
        <input id="description" formControlName="description" class="form-input">
      </div>
    </div>



    <div class="form-group checkbox-group">
      <label for="is_public">¿Es público?</label>
      <input id="is_public" type="checkbox" formControlName="is_public" />
    </div>


  </div>



</form>
