<div class="container">
  <h2 class="title">Listado de Eventos</h2>

  <div class="content-layout">
    <!-- Listado de ubicaciones -->
    <div class="sidebar-list">
      <app-list-events  (eventClicked)="onEventClicked($event)"></app-list-events>
    </div>

    <!-- Mapa de ubicación -->
    <div class="map-container">
      <!-- <map-org (click)="moveMap($event)" (mapMouseMove)="moveMap($event)" #mapComponent></map-org> -->
      <!-- <map-org (mapMouseMove)="moveMap($event)" #mapComponent></map-org> -->
      <map-org (mapMouseMove)="moveMap($event)" #mapComponent></map-org>
    </div>
  </div>
</div>
