<div class="max-w-3xl mx-auto mt-10 px-4">
  <div class="bg-white shadow-lg rounded-lg overflow-hidden">
    <div class="bg-blue-600 text-white text-center py-4">
      <h2 class="text-2xl font-semibold">Formulario Eventos</h2>
    </div>

    <div class="p-6">
      <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="space-y-4">
        <!-- Título -->
        <div>
          <label for="title" class="block text-sm font-medium text-gray-700 mb-1">Título del Evento</label>
          <input type="text" id="title" formControlName="title" required
            class="w-full border border-gray-300 rounded-md px-3 py-2 focus:ring focus:ring-blue-200" />
        </div>

        <!-- Descripción -->
        <div>
          <label for="description" class="block text-sm font-medium text-gray-700 mb-1">Descripción del Evento</label>
          <textarea id="description" rows="3" formControlName="description" required
            class="w-full border border-gray-300 rounded-md px-3 py-2 focus:ring focus:ring-blue-200"></textarea>
        </div>

        <!-- Fechas -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <label for="start_date" class="block text-sm font-medium text-gray-700 mb-1">Fecha de Inicio</label>
            <input type="datetime-local" id="start_date" formControlName="start_date" required
              class="w-full border border-gray-300 rounded-md px-3 py-2 focus:ring focus:ring-blue-200" />
          </div>
          <div>
            <label for="end_date" class="block text-sm font-medium text-gray-700 mb-1">Fecha de Término</label>
            <input type="datetime-local" id="end_date" formControlName="end_date" required
              class="w-full border border-gray-300 rounded-md px-3 py-2 focus:ring focus:ring-blue-200" />
          </div>
        </div>

        <!-- Sponsor -->
        <div>
        <p>
          <em>Ingrese los Sponsor de su actividad</em>
        </p>
        <mat-form-field class="example-form-field">
          <!-- <mat-label>Video keywords</mat-label> -->
          <mat-chip-grid #chipGrid aria-label="Enter keywords" [formControl]="sponsorsControl">
            @for (keyword of keywords(); track keyword) {
              <mat-chip-row (removed)="removeKeyword(keyword)">
                {{keyword}}
                <button matChipRemove aria-label="'remove ' + keyword">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            }
          </mat-chip-grid>
          <input
            placeholder="Nuevo Sponsor..."
            [matChipInputFor]="chipGrid"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-form-field>
      </div>







        <!-- Estado -->
        <div class="mt-4" *ngIf="isUpdate">
          <label for="status" class="block text-sm font-medium text-gray-600 mb-1">Estado del Evento</label>
          <select id="status" name="status" class="w-full border border-gray-300 rounded-md p-2" formControlName="status">
            <option *ngFor="let option of statusOptions" [value]="option.value">{{ option.label }}</option>
          </select>
        </div>


        <!-- Ubicación -->
        <div formGroupName="location">
          <label class="block text-sm font-medium text-gray-700 mb-1">Ubicación</label>
          <div class="flex gap-2">
            <input id="gm_formatted_address" formControlName="gm_formatted_address" readonly placeholder="Dirección..."
              class="flex-grow border border-gray-300 rounded-md px-3 py-2 focus:ring focus:ring-blue-200" />
            <button type="button" (click)="openAddressModal()"
              class="bg-gray-200 text-sm text-gray-700 px-4 py-2 rounded hover:bg-gray-300 transition">
              Seleccionar Dirección
            </button>
          </div>

          <div class="flex items-center mt-2">
            <input type="checkbox" id="is_public" formControlName="is_public"
              class="h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500" />
            <label for="is_public" class="ml-2 text-sm text-gray-600">Publicar la dirección</label>
          </div>
        </div>

        <div>

        </div>

        <!-- Botón submit -->
        <div class="text-center mt-6">
          <button type="submit"
            class="bg-blue-600 text-white font-semibold px-6 py-2 rounded hover:bg-blue-700 transition">
            {{ isUpdate ? 'Actualizar' : 'Guardar' }}
          </button>
        </div>

        <!-- Mensajes -->
        <div *ngIf="successMessage" class="mt-4 text-green-600 text-center font-medium">
          {{ successMessage }}
        </div>
        <div *ngIf="successUpdateMessage" class="mt-4 text-green-600 text-center font-medium">
          {{ successUpdateMessage }}
        </div>
        <div *ngIf="errorMessage" class="mt-4 text-red-600 text-center font-medium">
          {{ errorMessage }}
        </div>
      </form>
    </div>
  </div>
</div>
