<!-- event-form.component.html -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg border-0">
        <div class="card-header bg-primary text-white text-center">
          <h2 class="mb-0">Formulario Eventos</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
            <!-- Título del Evento -->
            <div class="mb-3">
              <label for="title" class="form-label">Título del Evento:</label>
              <input type="text" id="title" class="form-control" formControlName="title" required>
            </div>
            <!-- Descripción del Evento -->
            <div class="mb-3">
              <label for="description" class="form-label">Descripción del Evento:</label>
              <textarea id="description" class="form-control" rows="3" formControlName="description"
                required></textarea>
            </div>
            <!-- Fecha del Evento -->
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="start_date" class="form-label">Fecha de Inicio:</label>
                <input type="datetime-local" id="start_date" class="form-control" formControlName="start_date" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="end_date" class="form-label">Fecha de Término:</label>
                <input type="datetime-local" id="end_date" class="form-control" formControlName="end_date" required>
              </div>
            </div>
            <!-- Ubicación -->
            <div formGroupName="location" class="mb-3">
              <label class="form-label">Ubicación:</label>
              <div class="input-group">
                <input id="gm_formatted_address" formControlName="gm_formatted_address" class="form-control"
                  placeholder="Dirección..." readonly />
                <button type="button" class="btn btn-outline-secondary" (click)="openAddressModal()">
                  Seleccionar Dirección
                </button>
              </div>
              <!-- Checkbox Publicación Dirección -->
              <div class="form-check mb-3">
                <input type="checkbox" id="is_public" class="form-check-input" formControlName="is_public">
                <label for="is_public" class="form-check-label">Publicar la dirección</label>
              </div>
            </div>
            <!-- Autor del Evento -->
            <div class="mb-3">
              <label for="author" class="form-label">Autor del Evento:</label>
              <input type="text" id="author" class="form-control" formControlName="created_by" required>
            </div>
            <!-- Organización Responsable -->
            <div class="mb-3">
              <label for="organizer" class="form-label">Organización Responsable:</label>
              <input type="text" id="organizer" class="form-control" formControlName="responsible_organization"
                required>
            </div>
            <div>
              <div class="text-center">
                <button type="submit" class="btn btn primary px-4">
                  {{ isUpdate ? 'Actualizar' : 'Guardar'}}
                </button>
              </div>
            </div>
            <!-- mensajes de exito o error -->
            <div *ngIf="successMessage" class="alert success">
              {{ successMessage }}
            </div>
            <div *ngIf="successUpdateMessage" class="alert success">
              {{ successUpdateMessage}}
            </div>
            <div *ngIf="errorMessage" class="alert error">
              {{ errorMessage }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
