<form [formGroup]="citizenMapForm" (ngSubmit)="createCitizenMap()" class="form-container">
  <h2 class="form-title">Crear Mapa Ciudadano</h2>
  <!-- text-4xl font-bold text-center text-gray-800 mb-8 -->
  <div class="form-group">
    <label for="name">Nombre:</label>
    <input id="name" formControlName="name" class="form-input" />
  </div>

  <div formGroupName="location">
    <!-- Campo de dirección siempre visible -->
    <div class="address-container">
      <input id="gm_formatted_address" formControlName="gm_formatted_address" class="form-input"
        [value]="citizenMapForm.get('location.gm_formatted_address')?.value" placeholder="Dirección..." readonly />
      <button type="button" class="form-button" (click)="openAddressModal()">
        Seleccionar Dirección...
      </button>
    </div>

    <!-- El modal solo se oculta pero no se elimina -->
    <!-- <shared-modal-address [hidden]="!isAddressModalOpen"></shared-modal-address> -->

    <div class="form-group">
      <label for="description">Descripción:</label>
      <input id="description" formControlName="description" class="form-input" />
    </div>
    <div class="form-group checkbox-group">
      <label for="is_public">¿Es público?</label>
      <input id="is_public" type="checkbox" formControlName="is_public" />
    </div>
  </div>

  <div class="form-group">
    <label for="icon_url">Icono</label>
    <input type="text" formControlName="icon_url" class="form-input" id="icon_url" />
  </div>

  <button type="submit" class="form-button">Crear Evento</button>

  <!-- mensajes exito o error -->
  <div *ngIf="successMessage" class="alert success">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="alert error">
    {{ errorMessage }}
  </div>

</form>
