<form [formGroup]="citizenMapForm" (ngSubmit)="createCitizenMap()" class="form-container">
  <h2 class="form-title">Crear Mapa Ciudadano</h2>

  <div class="form-group">
    <label for="name">Nombre:</label>
    <input id="name" formControlName="name" class="form-input" />
  </div>

  <div formGroupName="location">


    <!-- TODO: mejorar logica, volver a mostrar btn y tambier mostrar selectedAddress -->
    <!-- <div *ngIf="!isAddressModalOpen" class="address-container">
      <input id="address" formControlName="address" class="form-input"
        [value]="citizenMapForm.get('location.address')?.value" readonly />
      <button type="button" class="form-button" (click)="openAddressModal()">Seleccionar Dirección</button>
    </div> -->

    <!-- Se muestra solo si el modal está cerrado -->


    <div *ngIf="isAddressModalOpen; else isAddressModalClosed" class="address-container" formControlName="gm_formatted_address">
      <shared-modal-address></shared-modal-address>
    </div>

    <ng-template #isAddressModalClosed>
      <!-- <div *ngIf="!isAddressModalOpen" class="address-container"> -->
        <input id="gm_formatted_address" formControlName="gm_formatted_address" class="form-input"
          [value]="citizenMapForm.get('location.gm_formatted_address')?.value" placeholder="direccion..." readonly />
        <button type="button" class="form-button" (click)="openAddressModal()" >
          Seleccionar Dirección...
        </button>
      <!-- </div> -->
    </ng-template>








    <div class="form-group">
      <label for="description">Descripción:</label>
      <input id="description" formControlName="description" class="form-input" />
    </div>

<!--     <div class="form-group">
      <label for="category">Categoría:</label>
      <input id="category" formControlName="category" class="form-input" />
    </div> -->

<!--     <div class="form-group">
      <label for="url_icon">URL Icono:</label>
      <input id="url_icon" formControlName="url_icon" class="form-input" />
    </div> -->

    <div class="form-group checkbox-group">
      <label for="is_public">¿Es público?</label>
      <input id="is_public" type="checkbox" formControlName="is_public" />
    </div>
  </div>
  <button type="submit" class="form-button">Crear Evento</button>
</form>
<div>
</div>
