.navbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Sombra para darle un efecto de profundidad */
  height: 56px; /* Ajusta la altura de la navbar */
}

.app-auth-wallet {
  background-color: #ffcc00; /* Color de fondo del componente de la billetera */
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.app-auth-wallet:hover {
  background-color: #ff9900; /* Color al pasar el ratón por encima */
}
